<div class=" d-flex justify-content-center">
  <div class="c d-flex justify-content-center flex-column pt-5">
    <mat-card class="d-flex justify-content-between">
      <button class="pr-5" mat-raised-button color="primary" (click)="onCreate()">
        <mat-icon>queue</mat-icon>
        <span>Anlegen</span>
      </button>

      <button  class="pr-5" mat-raised-button color="primary" [disabled]="!selectedWochenbericht" (click)="onEdit()">
        <mat-icon> border_color</mat-icon>
        <span>Bearbeiten</span>
      </button>


      <button class="pr-5" mat-raised-button color="primary" [disabled]="!selectedWochenbericht" (click)="onDelete(selectedWochenbericht)">
        <mat-icon>delete</mat-icon>
        <span>Löschen</span>
      </button>

    </mat-card>
    <mat-card>
      <div class="d-flex flex-column">
        <app-wochenberichte-von-user-detail
          *ngFor="let wochenbericht of pageSlice"
          [wochenbericht]="wochenbericht">
        </app-wochenberichte-von-user-detail>
      </div>

      <mat-paginator [length]="this.wocheneberichtUser.length"
                     [pageSize] = "10"
                     [pageSizeOptions] = "[10, 20]"
                     (page) = "onPageChange($event)">
      </mat-paginator>

    </mat-card>
  </div>
</div>
