<div class=" d-flex justify-content-center">
  <div class="c d-flex justify-content-center flex-column pt-5">
    <mat-card class="d-flex justify-content-center">
      <button mat-menu-item (click)="onCreate()">
        <mat-icon>queue</mat-icon>
        <span>Anlegen</span>
      </button>

      <button mat-menu-item [disabled]="!selectedWochenbericht" (click)="onEdit()">
        <mat-icon> border_color</mat-icon>
        <span>Bearbeiten</span>
      </button>


      <button mat-menu-item [disabled]="!selectedWochenbericht" (click)="onDelete(selectedWochenbericht)">
        <mat-icon>delete</mat-icon>
        <span>Löschen</span>
      </button>

    </mat-card>
    <mat-card>
      <div class="d-flex flex-column ">
        <app-wochenberichte-von-user-detail
          *ngFor="let wochenbericht of wocheneberichtUser | slice:0:10"
          [wochenbericht]="wochenbericht">
        </app-wochenberichte-von-user-detail>
      </div>
    </mat-card>
  </div>
</div>
