
 <p>
  <mat-toolbar color="primary">
    <button [matMenuTriggerFor]="menu"
            mat-icon-button
            class="mr-2">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
    <span class="example-spacer"></span>
</mat-toolbar>
  <mat-menu #menu="matMenu">
    <button routerLink="/main" mat-menu-item>Zur Startseite</button>
    <button routerLink="/postfach" mat-menu-item>Meine E-Mails</button>
    <button mat-button (click)="onLogout()">Abmelden</button>
  </mat-menu>
</p>

