
<!-- <p>-->
<!--  <mat-toolbar color="primary">-->
<!--    <button [matMenuTriggerFor]="menu"-->
<!--            mat-icon-button-->
<!--            class="mr-2">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <span>Menu</span>-->
<!--    <span class="example-spacer"></span>-->
<!--  <button mat-icon-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--    <mat-icon>perm_identity</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon> email</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button routerLink="/show-user" mat-menu-item>Meine Daten</button>-->
<!--    <button routerLink="/show-data" mat-menu-item>Noten übersicht</button>-->
<!--  </mat-menu>-->
<!--</p>-->

