<form [formGroup]="wochenberichtTagAnlegenFormGroup">
  <div class="d-flex justify-content-center pt-5">
    <mat-card class="w-75 pl-5 pb-5">
      <h1 class="pb-5">Wochenbericht anlegen</h1>
      <mat-form-field class=" mr-5">
        <mat-label>ID</mat-label>
        <input formControlName="id" matInput/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nachname</mat-label>
        <input matInput/>
      </mat-form-field>
      <div class="d-flex justify-content-end flex-row">
        <button mat-menu-item (click)="onSave()">
          <mat-icon>border_color</mat-icon>
          <span>Speichern</span>
        </button>

        <button mat-menu-item (click)="onCancel()">
          <mat-icon>delete</mat-icon>
          <span>Abbrechen</span>
        </button>
      </div>
    </mat-card>
  </div>
</form>
