<form [formGroup]="wochenberichtInhaltAnlegenFormGroup">
  <div class="d-flex justify-content-center pt-5">
    <mat-card class="w-75">
      <h1>Inhalt zum Tag eintragen</h1>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tagesinhalt eintragen
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="w-50" appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea formControlName="inhalt" minlength="5" maxlength="300" matInput></textarea>
          </mat-form-field>
          <div class="d-flex justify-content-end flex-row">
            <button mat-menu-item [disabled]="tage.length >= 5" (click)="onSave()">
              <mat-icon>border_color</mat-icon>
              <span>Speichern</span>
            </button>
            <button mat-menu-item (click)="onCancel()">
              <mat-icon>delete</mat-icon>
              <span>Abbrechen</span>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</form>
