<form [formGroup]="wochenberichtAnlegenFormGroup"
      (ngSubmit)="onSubmit()">
  <div class="d-flex justify-content-center pt-5">
    <mat-card class="w-75">
      <h1>Wochenbericht anlegen</h1>
      <div class="justify-content-center pt-5">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Datum auswählen</mat-label>
          <input matInput formControlName="datum" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


          <mat-card *ngFor="let eintrag of eintraege; let i = index" class="w-75">
            <div class="d-flex flex-column">
            <mat-form-field appearance="fill">
              <mat-label>Thema</mat-label>
              <input matInput formControlName="'thema">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Eintrag</mat-label>
              <textarea minlength="5" maxlength="255" matInput formControlName="eintrag"></textarea>
            </mat-form-field>
            </div>
          </mat-card>

        <div class="d-flex justify-content-end pt-5">
          <button mat-raised-button color="primary">Anlegen</button>
        </div>
      </div>
    </mat-card>
  </div>
</form>
<!--<div class="d-flex justify-content-center pt-2">-->
<!--  <mat-card class="w-75">-->
<!--    <h3>Bisherige Einträge</h3>-->
<!--    <mat-card *ngFor="let eintrag of bisherigeEintraege">-->
<!--      {{eintrag.datum | date}} - {{eintrag.thema}} - {{eintrag.eintrag}}-->
<!--    </mat-card>-->
<!--    <button mat-raised-button color="primary"(click)="onSpeichern()">Speichern</button>-->
<!--  </mat-card>-->
<!--</div>-->

