.example-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #b88400;
}

.miau{

  padding: 9rem 4rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 1em 0.2em #666666;

}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.example-right-align {
  text-align: right;
}

.button{
  display: flex;
  margin-top: 70px;
}


