<div class="container-fluid h-75">
  <div class="row p-5  h-75">
    <div class="col-4">
      <app-show-user></app-show-user>
    </div>
    <div class="a col-8 rounded" style=" background-color: #ffffff">
        <mat-tab-group>
          <mat-tab label="Aktueller Kurs">
            <app-ein-kurs></app-ein-kurs>
          </mat-tab>
          <mat-tab label="Meine Daten">
            <div class=" mt-4">
              <div class="">
                <app-meine-daten></app-meine-daten>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
  </div>
</div>
