.containerr{
  background-color: #b0c4de;
  /*height: 100%;*/
  /*width: 94%;*/
  /*margin: 50px;*/
  /*display: inline-flex;*/
  /*justify-content: center;*/
}

.leftside{
  /*border: #a2a0a0 solid 1px;*/
  background-color: whitesmoke;
  box-shadow: 0 0 1em 0.2em #606060;
  /*height: 90%;*/
  /*width: 30%;*/
  /*margin-right: 70px;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/

}

.rightside{
  /*border: #a2a0a0 solid 1px;*/
  background-color: whitesmoke;
  box-shadow: 0 0 1em 0.2em #606060;
  /*height: 90%;*/
  /*width: 50%;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
}
/*.user{*/
/*  margin: 45px;*/
/*}*/

/*.info{*/
/*  margin: 45px;*/
/*}*/

/*.mainboard>mat-card{*/
/*  margin: 20px;*/
/*}*/

table {
  width: 100%;
}
