<!--<div class="containerr d-flex flex-row align-content-center ">-->
<!--<div class="container-fluid ">-->
<!--  <div class="row justify-content-center p-5">-->
<!--    <div class="col-lg-4 p-5 col-md-12 vh-100  leftside">-->
<!--      <app-user></app-user>-->
<!--    </div>-->

<!--    <div class="col-lg-6 p-4 ml-5 col-md-12  rightside">-->
<!--      <div style="background-color: sienna"></div>-->
<!--      <app-kursuebersicht></app-kursuebersicht>-->
<!--      <app-notenuebersicht></app-notenuebersicht>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->


