<mat-toolbar *ngIf="toolbarShow" color="black">
<!--<mat-toolbar color="black">-->
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
            (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item routerLink="/start">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
       <button mat-menu-item routerLink="/kursplan">
<mat-icon> local_library</mat-icon>
        <span>Kursplan</span>
      </button>
       <button mat-menu-item  routerLink="/pruefungsuebersicht" >
         <mat-icon>school</mat-icon>
        <span>Prüfungsübersicht</span>
      </button>
       <button mat-menu-item  routerLink="/neuenuseranlegen" >
       <mat-icon> contacts</mat-icon>
        <span>Mitglied anlegen</span>
      </button>
       <button mat-menu-item  routerLink="/allewochenberichtevomuser" >
       	<mat-icon>calendar_today</mat-icon>
        <span>Wochenbericht</span>
      </button>
      <button mat-menu-item  routerLink="/listenansicht" >
       <mat-icon>list</mat-icon>
        <span>Liste von Usern</span>
      </button>
      <button mat-menu-item  routerLink="/todolist" >
       <mat-icon>style</mat-icon>
        <span>To Do Liste</span>
      </button>
      <button mat-menu-item (click)="onLogout()" >
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Menü</span>
  <span class="flexExpand"></span>
  <span>
 <img mat-card-avatar [src]=schuelerBild?.dateiname  alt="Photo of a Student" class="a rounded-circle">
</span>
</mat-toolbar>
<div class="hintergrund" style="background-color: #72898f">
  <router-outlet></router-outlet>
</div>


