<form class="example-form">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>{{schueler.vorname}}</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>{{schueler.nachname}}</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>{{schueler.strasse}}</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>{{schueler.hausnummer}}</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>{{schueler.plz}}</mat-label>
      <input matInput readonly >
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>{{schueler.stadt}}</mat-label>
      <input matInput readonly>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>LAND</mat-label>
      <input matInput readonly >
      <mat-hint></mat-hint>
    </mat-form-field></td>
  </tr></table>
</form>
