
<mat-card class="m-3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Schüler</mat-card-title>
    <mat-card-subtitle>Schüler</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image   class="img-thumbnail"  src="https://image.freepik.com/vektoren-kostenlos/mind-space-lineart-illustration_151511-38.jpg"  alt="Photo of a Shiba Inu">
  <mat-card-content>
  </mat-card-content>
  <ul>
    <li *ngFor="let schuelers of schueler$ | async | slice:0:5 ">
      <span>{{schuelers.shortname}}</span> - <small>{{schuelers.longname}}</small>
    </li>
  </ul>
  <mat-card-actions>
    <button mat-button>Bearbeiten</button>
  </mat-card-actions>
</mat-card>


