
<mat-card class="m-3">
  <mat-card-header>
    <img mat-card-avatar [src]=schueler?.pic  alt="Photo of a Student">
    <mat-card-title>{{schueler?.firstname}}</mat-card-title>
    <mat-card-title>{{schueler?.lastname}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="card-img" [src]=schueler?.pic  alt="Photo of a Student">
  <mat-card-content>
  </mat-card-content>
      <span>{{schueler?.firstname}} </span> <span>{{schueler?.lastname}}</span>
  <mat-card-actions>
    <button mat-button>Bearbeiten</button>
    <button mat-button [routerLink]="['/start-page']">Abmelden</button>
  </mat-card-actions>
</mat-card>


