<!--<h3>Meine Id: {{ wochenbericht?.id }}</h3>-->
<form [formGroup]="wochenberichtTagAnlegenFormGroup">
  <div class="d-flex justify-content-center pt-5">
    <mat-card class="w-75">
      <h1>Tag hinzufügen</h1>
      <mat-card-subtitle>Datum vom Tag auswählen und Tagesthema eintragen</mat-card-subtitle>

      <mat-form-field class="mr-5 pt-5">
        <mat-label>Date</mat-label>
        <input formControlName="datum" matInput [matDatepicker]="picker" (focus)="picker.open()">
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-form-field class="pt-5">
        <mat-label>Thema anlegen</mat-label>
        <input formControlName="thema" minlength="1" maxlength="30" matInput/>
      </mat-form-field>
      <div class="d-flex justify-content-end flex-row">

        <button class="mt-4" mat-raised-button color="primary" [disabled]="tage.length >= 5" (click)="onSave()">
          <mat-icon>save_alt</mat-icon>
          <span> Speichern</span>
        </button>

        <button class="ml-2 mt-4" mat-raised-button color="primary" (click)="onCancel()">
          <mat-icon>clear</mat-icon>
          <span> Abbrechen</span>
        </button>
      </div>
    </mat-card>
  </div>
</form>
<app-wochenbericht-von-user-inhalt></app-wochenbericht-von-user-inhalt>
<div class="d-flex justify-content-center">
  <div class="w-75 pt-5">
    <mat-card><h1> Angelegte Tage für Wochenbericht KW {{wochenbericht?.creation_date | date : 'w'}}</h1>
      <mat-card-subtitle> {{tage.length}} Tage bereits vorhanden</mat-card-subtitle>

      <mat-card *ngFor="let tag of tage">
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0">{{tag?.datum | date}} {{tag?.thema}} </p>
          <div class="d-flex justify-content-end align-items-center">
          <button mat-icon-button (click)="openDialog(tag)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(tag)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        </div>
      </mat-card>
    </mat-card>
    <div class="d-flex flex-column">
    <button class="" mat-raised-button color="primary" (click)="onCancel()">
      <span> Zurück</span>
    </button>
    </div>
  </div>
</div>
