<form [formGroup]="wochenberichtAnlegenFormGroup">
  <div class="d-flex justify-content-center pt-5">
    <mat-card class="w-75">
      <h1>Alles zum Wochenbericht</h1>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Wochenbericht anlegen
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class=" mr-5">
            <mat-label>ID</mat-label>
            <input formControlName="id" matInput/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nachname</mat-label>
            <input matInput/>
          </mat-form-field>

          <mat-action-row>
            <!--            <button mat-button color="primary" (click)="nextStep()">Weiter</button>-->
            <button mat-button color="primary" (click)="wochenberichtAnlegen()">Anlegen</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</form>

<form [formGroup]="wochenberichtTagAnlegenFormGroup">
  <div class="d-flex justify-content-center pt-5">
    <mat-card class="w-75">
      <h1>Alles zum Wochenbericht</h1>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datum und thema anlegen
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="mr-5">
            <mat-label>Date</mat-label>
            <input formControlName="datum" matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>

          <mat-form-field>
            <mat-label>Thema anlegen</mat-label>
            <input formControlName="thema" minlength="1" maxlength="30" matInput/>
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Zurück</button>
            <button mat-button color="primary" (click)="nextStep()">Weiter</button>
            <button mat-button color="primary" (click)="wochenberichtTag()">Absenden</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</form>
<form [formGroup]="wochenberichtInhaltAnlegenFormGroup">
  <div class="d-flex justify-content-center pt-5">
    <mat-card class="w-75">
      <h1>Alles zum Wochenbericht</h1>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tagesinhalt eintragen
            </mat-panel-title>
          </mat-expansion-panel-header>
<!--          <mat-form-field class="w-50" appearance="fill">-->
<!--            <mat-label>Textarea</mat-label>-->
<!--            <textarea formControlName="zeilennummer" minlength="1" maxlength="300" matInput></textarea>-->
<!--          </mat-form-field>-->

          <mat-form-field class="w-50" appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea formControlName="inhalt" minlength="5" maxlength="300" matInput></textarea>
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Zurück</button>
            <button mat-button color="primary" (click)="wochenberichtInhalt()">Absenden</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</form>
