<div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>perm_identity</mat-icon>
      </ng-template>
      <app-show-user></app-show-user>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matBadge="4" [matBadgeHidden]="userHidden" (click)="usertoggleBadgeVisibility()">email</mat-icon>
      </ng-template>
      <app-postfach></app-postfach>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matBadge="1" [matBadgeHidden]="mailHidden" (click)="mailtoggleBadgeVisibility()">info</mat-icon>
      </ng-template>
      <app-informationen></app-informationen>
    </mat-tab>
  </mat-tab-group>
</div>
